<link rel="stylesheet" type="text/css" href="style.css" />
<h2><%= @username%>'s recent albums</h2>

<div id="musicbox">
    <div  class="box" id="back">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxback.png">
    </div>
    <div id="titlebox">
        <p class="title"><a class="title" id="artistname" href="">Artist name</a></p>
        <p class="title"><a class="title" id="albumname" href="">Album name</a></p>
    </div>
    <div id="wrapper">
        <div class="albumholder">    
	<% (1..6).to_a.reverse.each do |i|%>
            <div class="album" id="album<%=i%>">
                <img src= <%= @albums[:image_urls][i-1] %>>
                <div class="shadow" id="shadow<%=i%>"></div>
            </div>
	<% end %>
        </div>
    </div>
    <div  class="box" id="front">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxfrontlfm.png">
    </div>
</div>
<p>Note: this widget currently only works on Webkit browsers (i.e. Safari and Chrome) and Firefox >= v10 (currently beta as of 25/1/12)
</p>
<p><a href="/widget?username=<%=@username%>&period=<%=@period%>">permalink to this widget</a></p>
<p>Created by <a href="http://www.last.fm/user/GrahamSnyder">Graham Snyder</a></p>

<script type="text/javascript">
numAlbums = 6;
yoffset = 20;
zoffset = 30;
fangle = -60;
bangle = 2;
currentAlbum = 0;

artistNames = ["<%= @albums[:artist_names].join("\",\"") %>"]
albumNames = ["<%= @albums[:album_names].join("\",\"") %>"]
artistURLs = ["<%= @albums[:artist_urls].join("\",\"") %>"]
albumURLs = ["<%= @albums[:album_urls].join("\",\"") %>"]

function displayAlbum(album) {
    for (a = album; a <= numAlbums; a++) {
        if (a == currentAlbum) {
            continue;
        }
        document.getElementById("album" + a).style.webkitTransform = "rotateX(" + bangle + "deg) translateY(-" + (a - 1) * yoffset + "px) translateZ(-" + (a - 1) * zoffset + "px)";
        document.getElementById("album" + a).style.MozTransform = "rotateX(" + bangle + "deg) translateY(-" + (a - 1) * yoffset + "px) translateZ(-" + (a - 1) * zoffset + "px)";
        document.getElementById("shadow" + a).style.opacity = "0";
    }
    for (a = 1; a < album; a++) {
        if (a == currentAlbum) {
            continue;
        }
        document.getElementById("album" + a).style.webkitTransform = "rotateX(" + fangle + "deg) translateY(" + (a - 1) * yoffset + "px) translateZ(-" + (a - 1) * zoffset + "px)";
        document.getElementById("album" + a).style.MozTransform = "rotateX(" + fangle + "deg) translateY(" + (a - 1) * yoffset + "px) translateZ(-" + (a - 1) * zoffset + "px)";
        document.getElementById("shadow" + a).style.opacity = "0.4";
    }
}

function albumMouseover() {
    var album = String(this.id).replace("shadow", "");
    if (album != currentAlbum) {
        displayAlbum(album);
        document.getElementById("album" + album).style.webkitTransform = "rotateX(" + bangle + "deg) translateY(-" + ((a - 1) * yoffset + 5) + "px) translateZ(-" + (a - 1) * zoffset + "px)";
        document.getElementById("album" + album).style.MozTransform = "rotateX(" + bangle + "deg) translateY(-" + ((a - 1) * yoffset + 5) + "px) translateZ(-" + (a - 1) * zoffset + "px)";
    }
}

function albumMouseout() {
    var album = String(this.id).replace("shadow", "");
    if (album != currentAlbum) {
        displayAlbum(album);
    }
}


function albumClick() {
    var album = String(this.id).replace("shadow", "");
    if (album == currentAlbum) {
        currentAlbum = 0;
        document.getElementById("titlebox").style.opacity = "0";
        displayAlbum(album);
    }
    else {
        currentAlbum = album;
        document.getElementById("album" + album).style.webkitTransform = "rotateX(0deg) translateY(-240px) translateZ(0)";
        document.getElementById("album" + album).style.MozTransform = "rotateX(0deg) translateY(-240px) translateZ(0)";
        document.getElementById("artistname").innerHTML = artistNames[currentAlbum - 1];
	document.getElementById("artistname").href = artistURLs[currentAlbum - 1];
        document.getElementById("albumname").innerHTML = albumNames[currentAlbum - 1];
	document.getElementById("albumname").href = albumURLs[currentAlbum - 1];
	document.getElementById("titlebox").style.opacity = "1";
        displayAlbum(album);
    }
}


for (a = 1; a <= numAlbums; a++) {
    document.getElementById("album" + a).style.webkitTransformOriginX = "50%";
    document.getElementById("album" + a).style.webkitTransformOriginY = "-" + (a - 1) * yoffset + "px)";
    document.getElementById("album" + a).style.MozTransformOriginX = "50%";
    document.getElementById("album" + a).style.MozTransformOriginY = "-" + (a - 1) * yoffset + "px)";
    document.getElementById("shadow" + a).onmouseover = albumMouseover;
    document.getElementById("shadow" + a).onclick = albumClick;
    document.getElementById("shadow" + a).onmouseout = albumMouseout;
}

displayAlbum(1);
</script>