<link rel="stylesheet" type="text/css" href="/style.css" />
<h2><%= @username%>'s recent albums</h2>

<div id="musicbox">
    <div  class="box" id="back">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxback.png">
    </div>
    <div id="titlebox">
        <p class="title"><a class="title" id="artistname" href="">Artist name</a></p>
        <p class="title"><a class="title" id="albumname" href="">Album name</a></p>
    </div>
    <div id="wrapper">
        <div class="albumholder">    
	<% (0..5).to_a.reverse.each do |i|%>
            <div class="album" id="album<%=i%>">
                <img src= <%= @albums[:image_urls][i] %>>
                <div class="shadow" id="shadow<%=i%>"></div>
            </div>
	<% end %>
        </div>
    </div>
    <div  class="box" id="front">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxfrontlfm.png">
    </div>
</div>
<p>Note: this widget currently only works on Webkit browsers (i.e. Safari and Chrome) and Firefox >= v10 (currently beta as of 25/1/12)
</p>
<p><a href="/widget/widget?username=<%=@username%>&period=<%=@period%>">permalink to this widget</a></p>
<p>Created by <a href="http://www.last.fm/user/GrahamSnyder">Graham Snyder</a></p>




<script type="text/javascript">
numAlbums = 6;
yoffset = 20;
zoffset = 30;
fangle = -60;
bangle = 2;
currentAlbum = -1;

artistNames = ["<%= @albums[:artist_names].join("\",\"") %>"]
albumNames = ["<%= @albums[:album_names].join("\",\"") %>"]
artistURLs = ["<%= @albums[:artist_urls].join("\",\"") %>"]
albumURLs = ["<%= @albums[:album_urls].join("\",\"") %>"]


function albumMouseover() {
	var a = String(this.id).replace("shadow", "");
	if (a == currentAlbum) {return;}
	albumPullUp(a);
}

function albumMouseout() {
    var album = String(this.id).replace("shadow", "");
    if (album != currentAlbum) { displayAlbum(album); }
}

function albumClick() {
    var album = String(this.id).replace("shadow", "");
    if (album == currentAlbum) {
	albumPutAway(album)
    }
    else {
	albumGetOut(album)
    }
}

function displayAlbum(album) {
    for (a = album; a <= numAlbums-1; a++) {
        if (a == currentAlbum) { continue; }
	albumLeanBack(a)
    }
    for (a = 0; a < album; a++) {
        if (a == currentAlbum) { continue; }
	albumLeanForward(a)
    }
}

function albumGetOut(a) {
        currentAlbum = a;
	
	thisAlbum = document.getElementById("album" + a);
	title = document.getElementById("titlebox");
	artist = document.getElementById("artistname");
	album = document.getElementById("albumname");
	
        thisAlbum.style.webkitTransform = "rotateX(0deg) translateY(-240px) translateZ(0)";
        thisAlbum.style.MozTransform 	= "rotateX(0deg) translateY(-240px) translateZ(0)";
	thisAlbum.style.boxShadow	= "0 0 15px #ffffff";
	
        artist.innerHTML = artistNames[currentAlbum];
	artist.href 	 = artistURLs[currentAlbum];
        album.innerHTML  = albumNames[currentAlbum];
	album.href 	 = albumURLs[currentAlbum];
	
	title.style.opacity = "1";
	
        displayAlbum(a);
}

function albumPutAway(a) {
	currentAlbum = -1;
	
	title = document.getElementById("titlebox");
	artist = document.getElementById("artistname");
	album = document.getElementById("albumname");
		
        title.style.opacity = "0";
	
	artist.innerHTML = "";
	artist.href = "";
        album.innerHTML = "";
	album.href = "";
	
        displayAlbum(a);
}

function albumPullUp(a) {
	displayAlbum(a);
	thisAlbum = document.getElementById("album" + a);
	thisAlbum.style.webkitTransform = "rotateX(" + bangle + "deg) translateY(-" + (a * yoffset + 5) + "px) translateZ(-" + a * zoffset + "px)";
	thisAlbum.style.MozTransform 	= "rotateX(" + bangle + "deg) translateY(-" + (a * yoffset + 5) + "px) translateZ(-" + a * zoffset + "px)";
}

function albumLeanBack(a) {
	thisAlbum = document.getElementById("album" + a);
        thisAlbum.style.webkitTransform = "rotateX(" + bangle + "deg) translateY(-" + a * yoffset + "px) translateZ(-" + a * zoffset + "px)";
        thisAlbum.style.MozTransform 	= "rotateX(" + bangle + "deg) translateY(-" + a * yoffset + "px) translateZ(-" + a * zoffset + "px)";
	document.getElementById("shadow" + a).style.opacity = "0";
	thisAlbum.style.boxShadow	= "0 0 0 #ffffff";
}

function albumLeanForward(a) {
	thisAlbum = document.getElementById("album" + a);
        thisAlbum.style.webkitTransform = "rotateX(" + fangle + "deg) translateY(" + a * yoffset + "px) translateZ(-" + a * zoffset + "px)";
        thisAlbum.style.MozTransform 	= "rotateX(" + fangle + "deg) translateY(" + a * yoffset + "px) translateZ(-" + a * zoffset + "px)";
        document.getElementById("shadow" + a).style.opacity = "0.4";
	thisAlbum.style.boxShadow	= "0 0 0 #ffffff";
}


for (a = 0; a <= numAlbums-1; a++) {
	thisAlbum = document.getElementById("album" + a);
	thisShadow = document.getElementById("shadow" + a)
	
	thisAlbum.style.webkitTransformOriginX = "50%";
	thisAlbum.style.webkitTransformOriginY = "-" + a * yoffset + "px)";
	thisAlbum.style.MozTransformOriginX = "50%";
	thisAlbum.style.MozTransformOriginY = "-" + a * yoffset + "px)";
    
	thisShadow.onmouseover = albumMouseover;
	thisShadow.onclick = albumClick;
	thisShadow.onmouseout = albumMouseout;
}

displayAlbum(0);
</script>