<link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/albumbox.js"></script>
<h2><%= @username%>'s recent albums</h2>

<div id="musicbox">
    <div  class="box" id="back">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxback.png">
    </div>
    <div id="titlebox">
        <p class="title"><a class="title" id="artistname" href="">Artist name</a></p>
        <p class="title"><a class="title" id="albumname" href="">Album name</a></p>
    </div>
    <div id="wrapper">
        <div class="albumholder">    
	<% (0..5).to_a.reverse.each do |i|%>
            <div class="album" id="album<%=i%>">
                <img src= <%= @albums[:image_urls][i] %>>
                <div class="shadow" id="shadow<%=i%>"></div>
            </div>
	<% end %>
        </div>
    </div>
    <div  class="box" id="front">
        <img  class="boximg"  src="http://dl.dropbox.com/u/21799696/AlbumBox/boxfrontlfm.png">
    </div>
</div>
<p>Note: this widget currently only works on Webkit browsers (i.e. Safari and Chrome) and Firefox >= v10 (currently beta as of 25/1/12)
</p>
<p><a href="/widget/widget?username=<%=@username%>&period=<%=@period%>">permalink to this widget</a></p>
<p>Created by <a href="http://www.last.fm/user/GrahamSnyder">Graham Snyder</a></p>